
.postercard {
    width: 250px;
    display: inline-block;
    flex: wrap;
    margin: 5px;
    padding: 5px;
}

.postersize {
    height: 250;
    width: 200;
}

.font {
    max-height: 150px;
    overflow-y: auto;
}