
.postercard {
    width: 250px;
    display: inline-block;
    flex: wrap;
    margin: 5px;
    padding: 5px;
    background-color: rgb(195, 200, 207);
    border-radius: 25px;
    
}

.postersize {
    height: 250;
    width: 200;
}

.cardtext {
    max-height: 150px;
    overflow-y: auto;
}